<!--
============================================
; Title: Assignment 5.4
; Author: Chris Bohnet
; Date: 19 March 2020
; Modified By:
; Description: The list.ejs file for employee records. 
============================================

-->
<!-- Scripts -->

<%- include('header'); -%>

<body>
  <%- include('navbar'); -%>

<div role="main" class="container" style="width: 30%;">
  <br /><br />

  <% if (employees.length) { %>
    <h2>Employee List</h2>
    <br />
    <a class="" href="new">New Employee</a>
    <br />
    <table class="table table-hover">
      <thead class="bg-secondary">
      <tr>
        <th class="text-white">First Name</th>
        <th class="text-white">Last Name</th>
        <th class="text-white">Email</th>
        <th class="text-white">Edit</th>

      </tr>
      </thead>
      <tbody>
      <% employees.forEach(function (entry) { %>
        <tr>
          <td><%= entry.firstName %></td>
          <td><%= entry.lastName %></td>
          <td><%= entry.email %></td>
          <td style="width: 10%; text-align: center;">
            <a style="color: #555" href="/view/<%= entry.firstName %>">
              <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
      <% }) %>
    </table>
  <% } else { %> There are no employee records. <a href="new">Add one here.</a>
  <% } %>

  <br />
</div>
<%- include('scripts'); -%>
</body>
<%- include('footer'); -%>
